@import 'mixins';

/* Variables
-------------------------*/

	/* Colors */

	$black: #000000;
	$white: #ffffff;


	/* Fonts */
	$font-family: 'Open Sans', sans-serif;

	/* Padding-width foundation columns */ 

	$foundation-padding: 0.9375em;



/* Animations
-------------------------*/

	/* Transitions */

	$fastTransition: 0.15s;
	$medTransition: 0.25s;
	$longTransition: 0.5s;



/* General Helper Classes
-------------------------*/

noscript{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 15px;
	color: $white;
	background-color: $black;
	//font-family: 'Ubuntu', sans-serif;
	a{
		//color: $mainColor;
	}
}

ul.no{
	margin: 0;
	padding: 0;
	list-style: none;
}

.data{
	display: none;
}



/* Visual basics */

.background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}




/* Page layout */

.page-wrap{
	position: relative;
	transition: 0.35s ease all;
	display: block;
	z-index: 1;
	&.active{
		//...
	}
}

.overlay{
	position: fixed;
	visibility: hidden;
	background-color: rgba($black, 0);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	transition: 0.35s ease background-color, 0.35s ease visibility;
	cursor: pointer;
	&.active{
		visibility: visible;
		background-color: rgba($black, 0.75);
	}
}

section.full{
	min-height: 100%;
	width: 100%;
	display: table;
}

.row.full{
	max-width: 100%;
}

.row.semi-full{
	max-width: 100%;
	padding: 0 10%;
}

.vertical-center{
	display: table;
}

.full, .vertical-center{
	.container{
		display: table-cell;
		vertical-align: middle;
	}
}





#map-canvas{
	width: 100%;
	height: 100%;
}


/* Typography
-------------------------*/

h1, h2, h3, h4, h5, p, li, a, span{
	text-rendering:optimizeLegibility;
	text-rendering:geometricPresision;
}

h1{

}

h2{

}

h3{

}

h4{
	
}

p{

}

li{
	
}

a, li a{

}



input[type="text"],input[type="email"], input[type="number"], textarea{
	&::-webkit-input-placeholder {
	   color: #999;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: #999;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: #999;  
	}

	&:-ms-input-placeholder {  
	   color: #999;  
	}
}




/* Slideshow
------------------------*/

/* general */
$slideshow-background: darken(#fff, 25);
$transition-speed: 1.5s;
$transition-speed-buffer: 1.6s;
$movement-amount: 50%;
$movement-removal: 100%;

/* h2 */
$movement-amount-h2: 75%;
$movement-removal-h2: 125%;

.slideshow-container{
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	.relativity{
		opacity: 0;
	}
	ul.slideshow{
		overflow: hidden;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		background-color: $slideshow-background;
		li{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			min-width: 100%;

			&.prepNext{
				.background{
					transition: 0s all;
					transform: translateX($movement-amount);
					opacity: 0;
				}
				h2{
					transition: 0s all;
					transform: translateX($movement-amount-h2);
					opacity: 0;
				}
			}
			&.removePrev{
				.background{
					transition: $transition-speed-buffer ease-in-out all;
					transform: translateX(- $movement-removal);
					opacity: 1;
				}
				h2{
					transition: $transition-speed-buffer ease-in-out all;
					transform: translateX(- $movement-removal-h2);
					opacity: 0;
				}
			}

			&.prepPrev{
				.background{
					transition: 0s all;
					transform: translateX(- $movement-amount);
					opacity: 0;
				}
				h2{
					transition: 0s all;
					transform: translateX(- $movement-amount-h2);
					opacity: 0;
				}
			}
			&.removeNext{
				.background{
					transition: $transition-speed-buffer ease-in-out all;
					transform: translateX($movement-removal);
					opacity: 1;
				}
				h2{
					transition: $transition-speed-buffer ease-in-out all;
					transform: translateX($movement-removal-h2);
					opacity: 0;
				}
			}



			.background{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-size: cover;
				background-position: center;
				transition: $transition-speed all ease-in-out;
			}

			h2{
				position: absolute;
				bottom: 25%;
				left: 0;
				right: 0;
				color: #000;
				font-size: 3em;
				font-weight: 900;
				text-transform: uppercase;
				transition: $transition-speed ease-in-out;
				opacity: 1;
			}

		}
	}
	.ui{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 5;
		height: 100%;
		.next{
			width: 15px;
			height: 15px;
			background-image: url('assets/images/next.png');
			background-repeat: no-repeat;
			background-size: 10px 15px;
			background-position: center;
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(0px);
			right: 10px;
			transition: all 0.15s ease-in-out;
			cursor: pointer;
			padding: 15px;
			&:hover{
				transform: translateY(-50%) translateX(5px);
			}
		}
		.prev{
			width: 15px;
			height: 15px;
			background-image: url('assets/images/prev.png');
			background-repeat: no-repeat;
			background-size: 10px 15px;
			background-position: center;
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(0px);
			left: 10px;
			transition: all 0.15s ease-in-out;
			cursor: pointer;
			padding: 15px;
			&:hover{
				transform: translateY(-50%) translateX(-5px);
			}
		}
		ul.indicators{
			text-align: center;
			margin: 0;
			position: absolute;
			bottom: 25px;
			left: 50%;
			transform: translateX(-50%);
			li{
				margin: 3px;
				margin-top: 30px;
				margin-bottom: 20px;
				display: inline-block;
				width: 12px;
				height: 12px;
				background-color: rgba(#565656, 0.25);
				border-radius: 12px;
				cursor: pointer;
				transition: all 0.25s ease-in-out;
				&.active{
					background-color: rgba(#565656, 0.6);
				}
			}
		}
	}

	.data-slideshow{
		display: none;
	}
	.filler{
		opacity: 0;
	}
}




