/* Media Queries
-------------------------*/

// Desktop
@media screen and (min-width: 1026px){
	.phablet{
		display: none !important;
	}

	

}


// Tablet up
@media screen and (min-width: 642px){
	.mobile-only{
		display: none !important;
	}
	
	
	
}



// Tablet down
@media screen and (max-width: 1025px){
	.desktop-only{
		display: none !important;
	}
	
	.row.semi-full{
		padding: 0 5%;
	}

}


// Mobile
@media screen and (max-width: 641px){
	.tablet-up{
		display: none !important;
	}


}