<h1 id="raphael-experimenten">Raphael Experimenten</h1>
<h3 id="checklist">Checklist</h3>
<ul>
<li><p>Sandbox maken icm Woocommerce</p>
<ul>
<li>Data meesturen in winkelwagen</li>
<li>SVG Exporteren</li>
</ul>
</li>
<li><p>Basis functionaliteiten</p>
<ul>
<li>Custom_meta bij product als het een door gebruiker aangepast ontwerp is</li>
<li>Custom_meta houdt JSON bij</li>
<li>Producteditor slaat Paper als JSON op in custom_meta bij product</li>
<li>Winkelmand, checkout toont SVG over afbeelding doormiddel van JSON export naar SVG en import vanuit JSON vanuit custom_meta</li>
<li>Mail toon eventueel een gegenereerde png als thumbnail</li>
<li>Mail geeft in ieder geval een link naar een PHP api die op basis van het order id de custom_meta naar boven haalt en hiervan door de JSON een SVG exporteert in de browser</li>
</ul>
</li>
</ul>
<hr>
<h3 id="data-meesturen-in-winkelwagen-resources-">Data meesturen in winkelwagen resources:</h3>
<ul>
<li><a href="https://stackoverflow.com/questions/5433806/convert-embedded-svg-to-png-in-place">https://stackoverflow.com/questions/5433806/convert-embedded-svg-to-png-in-place</a></li>
<li><a href="http://bl.ocks.org/curran/7cf9967028259ea032e8">http://bl.ocks.org/curran/7cf9967028259ea032e8</a></li>
<li>Als verborgen veld bij het product (soort van notitie maar dan json data, dit dan in de woocommerce mail als een download link meesturen)</li>
<li><a href="https://stackoverflow.com/questions/1623242/problem-with-dynamic-svg-image-generation">https://stackoverflow.com/questions/1623242/problem-with-dynamic-svg-image-generation</a></li>
</ul>
<h3 id="svg-exporteren-resources-">SVG Exporteren resources:</h3>
<ul>
<li><a href="http://dmitrybaranovskiy.github.io/raphael/">http://dmitrybaranovskiy.github.io/raphael/</a></li>
<li><a href="https://stackoverflow.com/questions/10120975/how-to-save-an-svg-generated-by-raphael">https://stackoverflow.com/questions/10120975/how-to-save-an-svg-generated-by-raphael</a></li>
<li><a href="https://github.com/AliasIO/Raphael.Export">https://github.com/AliasIO/Raphael.Export</a></li>
</ul>
<h3 id="overige-resources-">Overige resources:</h3>
<ul>
<li><a href="https://www.pootlepress.com/2014/04/100-woocommerce-tips-tricks/">https://www.pootlepress.com/2014/04/100-woocommerce-tips-tricks/</a> (order meta box, hier kan ik de svg&#39;s misshien in stoppen)</li>
</ul>
