@import 'helpins';

/* General
-------------------------*/

html, body{
	height: 100%;
}

::selection {
	
}

/* Content
-------------------------*/

	section{
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		.menu{
			grid-column: span 4;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				li.color{
					padding: 0;
					width: 45px;
					border-radius: 50px;
					display: inline-block;
					margin-left: 5px;
					margin-right: 5px;
					position: relative;
					span{
						content: "";
						position: absolute;
						width: 29px;
						height: 29px;
						top: 8px;
						left: 8px;
						background-color: white;
						border-radius: 50px;
					}
					&.white{
						span{
							background-color: white;
						}
					}
					&.gold{
						span{
							background-color: gold;
						}
					}
					&.black{
						span{
							background-color: black;
						}
					}
				}
				li{
					margin: 15px 0;
					padding: 10px 20px;
					background-color: lighten($black, 30);
					border-radius: 10px;
					color: $white;
					cursor: pointer;
					height: 45px;
					transition: 0.25s ease all;
					&.hidden{
						opacity: 0;
						visibility: hidden;
						height: 0px;
						padding: 0 20px;
						margin: 0;
						border-radius: 0px;
					}
					&:hover{
						background-color: lighten($black, 15);
					}
					&.part-of-input{
						margin-bottom: 0px;
						border-bottom-left-radius: 0px;
						border-bottom-right-radius: 0px;
					}
					&.delete{
						margin-top: 15px;
						background-color: darken(red, 20);
						&:hover{
							background-color: lighten($black, 15);
						}
					}
				}
				input#text{
					border-bottom-right-radius: 10px;
					border-bottom-left-radius: 10px;
					transition: 0.25s ease all;
					&.hidden{
						opacity: 0;
						visibility: hidden;
						height: 0px;
						padding: 0 20px;
						margin: 0;
						border-radius: 0px;
					}
				}
				input#color{
					padding: 0 2px;
				}
			}
		}
		.editor{
			position: relative;
			height: 100%;
			grid-column: span 8;
			background-color: darken($white, 10);
			display: flex;
			align-items: center;
			justify-content: center;
			#canvas{
				width: 500px;
				height: 500px;
				background-color: darken($white, 20);
				background-image: url('assets/images/canvas_bg.png');
				background-position: center;
				background-size: cover;
				svg{
					width: 100%;
					height: 100%;
				}
			}
			&:after{
				content: "";
			}
		}
		.exported{
			height: 100vh;
			background-color: darken($white, 25);
			grid-column: span 12;
			display: flex;
			align-items: center;
			justify-content: center;
			.context{
				#frame{
					width: 75vh;
					height: 75vh;
					background-color: darken($white, 30);
					svg{
						width: 100%;
						height: 100%;
					}
				}
				ul.buttons{
					margin: 0;
					padding: 0;
					list-style: none;
					text-align: center;
					li{
						display: inline-block;
						background-color: darken($white, 50);
						margin: 20px 10px;
						padding: 10px 20px;
						cursor: pointer;
						transition: 0.25s ease all;
						&:hover{
							background-color: darken($white, 55);
						}
					}
				}
			}
		}
	}


	/* SVG Downloader */
	#preview-holder{
	    height: 100vh;
	    width: 100vw;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    background-color: #fafafa;
	    flex-direction: column;
	    overflow: hidden;
	    #preview{
	        width: 50vh;
	        height: 50vh;
	        border: 1px solid #d9d9d9;
	        background-color: white;
	        svg{
	        	width: 100%;
	        	height: 100%;
	        }
	    }
	    #export{
	    	width: 500px;
	    	height: 500px;
	    	position: absolute;
	    	opacity: 0;
	    	visibility: hidden;
	    	pointer-events: none;
	    	top: 0;
	    }
	}




/* Footer
-------------------------*/

	footer{
		


	}



@import 'media_queries';