/* Mixins
-------------------------*/
/* Variables
-------------------------*/
/* Colors */
/* Fonts */
/* Padding-width foundation columns */
/* Animations
-------------------------*/
/* Transitions */
/* General Helper Classes
-------------------------*/
noscript {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 15px;
  color: #ffffff;
  background-color: #000000; }

ul.no {
  margin: 0;
  padding: 0;
  list-style: none; }

.data {
  display: none; }

/* Visual basics */
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/* Page layout */
.page-wrap {
  position: relative;
  -webkit-transition: 0.35s ease all;
  -o-transition: 0.35s ease all;
  transition: 0.35s ease all;
  display: block;
  z-index: 1; }

.overlay {
  position: fixed;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition: 0.35s ease background-color, 0.35s ease visibility;
  -o-transition: 0.35s ease background-color, 0.35s ease visibility;
  transition: 0.35s ease background-color, 0.35s ease visibility;
  cursor: pointer; }
  .overlay.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.75); }

section.full {
  min-height: 100%;
  width: 100%;
  display: table; }

.row.full {
  max-width: 100%; }

.row.semi-full {
  max-width: 100%;
  padding: 0 10%; }

.vertical-center {
  display: table; }

.full .container, .vertical-center .container {
  display: table-cell;
  vertical-align: middle; }

#map-canvas {
  width: 100%;
  height: 100%; }

/* Typography
-------------------------*/
h1, h2, h3, h4, h5, p, li, a, span {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPresision; }

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999; }

input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="number"]:-moz-placeholder, textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #999; }

input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #999; }

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999; }

/* Slideshow
------------------------*/
/* general */
/* h2 */
.slideshow-container {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
  .slideshow-container .relativity {
    opacity: 0; }
  .slideshow-container ul.slideshow {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #bfbfbf; }
    .slideshow-container ul.slideshow li {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      min-width: 100%; }
      .slideshow-container ul.slideshow li.prepNext .background {
        -webkit-transition: 0s all;
        -o-transition: 0s all;
        transition: 0s all;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0; }
      .slideshow-container ul.slideshow li.prepNext h2 {
        -webkit-transition: 0s all;
        -o-transition: 0s all;
        transition: 0s all;
        -webkit-transform: translateX(75%);
        -ms-transform: translateX(75%);
        transform: translateX(75%);
        opacity: 0; }
      .slideshow-container ul.slideshow li.removePrev .background {
        -webkit-transition: 1.6s ease-in-out all;
        -o-transition: 1.6s ease-in-out all;
        transition: 1.6s ease-in-out all;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 1; }
      .slideshow-container ul.slideshow li.removePrev h2 {
        -webkit-transition: 1.6s ease-in-out all;
        -o-transition: 1.6s ease-in-out all;
        transition: 1.6s ease-in-out all;
        -webkit-transform: translateX(-125%);
        -ms-transform: translateX(-125%);
        transform: translateX(-125%);
        opacity: 0; }
      .slideshow-container ul.slideshow li.prepPrev .background {
        -webkit-transition: 0s all;
        -o-transition: 0s all;
        transition: 0s all;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 0; }
      .slideshow-container ul.slideshow li.prepPrev h2 {
        -webkit-transition: 0s all;
        -o-transition: 0s all;
        transition: 0s all;
        -webkit-transform: translateX(-75%);
        -ms-transform: translateX(-75%);
        transform: translateX(-75%);
        opacity: 0; }
      .slideshow-container ul.slideshow li.removeNext .background {
        -webkit-transition: 1.6s ease-in-out all;
        -o-transition: 1.6s ease-in-out all;
        transition: 1.6s ease-in-out all;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 1; }
      .slideshow-container ul.slideshow li.removeNext h2 {
        -webkit-transition: 1.6s ease-in-out all;
        -o-transition: 1.6s ease-in-out all;
        transition: 1.6s ease-in-out all;
        -webkit-transform: translateX(125%);
        -ms-transform: translateX(125%);
        transform: translateX(125%);
        opacity: 0; }
      .slideshow-container ul.slideshow li .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        -webkit-transition: 1.5s all ease-in-out;
        -o-transition: 1.5s all ease-in-out;
        transition: 1.5s all ease-in-out; }
      .slideshow-container ul.slideshow li h2 {
        position: absolute;
        bottom: 25%;
        left: 0;
        right: 0;
        color: #000;
        font-size: 3em;
        font-weight: 900;
        text-transform: uppercase;
        -webkit-transition: 1.5s ease-in-out;
        -o-transition: 1.5s ease-in-out;
        transition: 1.5s ease-in-out;
        opacity: 1; }
  .slideshow-container .ui {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 100%; }
    .slideshow-container .ui .next {
      width: 15px;
      height: 15px;
      background-image: url("assets/images/next.png");
      background-repeat: no-repeat;
      background-size: 10px 15px;
      background-position: center;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(0px);
      -ms-transform: translateY(-50%) translateX(0px);
      transform: translateY(-50%) translateX(0px);
      right: 10px;
      -webkit-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      cursor: pointer;
      padding: 15px; }
      .slideshow-container .ui .next:hover {
        -webkit-transform: translateY(-50%) translateX(5px);
        -ms-transform: translateY(-50%) translateX(5px);
        transform: translateY(-50%) translateX(5px); }
    .slideshow-container .ui .prev {
      width: 15px;
      height: 15px;
      background-image: url("assets/images/prev.png");
      background-repeat: no-repeat;
      background-size: 10px 15px;
      background-position: center;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(0px);
      -ms-transform: translateY(-50%) translateX(0px);
      transform: translateY(-50%) translateX(0px);
      left: 10px;
      -webkit-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      cursor: pointer;
      padding: 15px; }
      .slideshow-container .ui .prev:hover {
        -webkit-transform: translateY(-50%) translateX(-5px);
        -ms-transform: translateY(-50%) translateX(-5px);
        transform: translateY(-50%) translateX(-5px); }
    .slideshow-container .ui ul.indicators {
      text-align: center;
      margin: 0;
      position: absolute;
      bottom: 25px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      .slideshow-container .ui ul.indicators li {
        margin: 3px;
        margin-top: 30px;
        margin-bottom: 20px;
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: rgba(86, 86, 86, 0.25);
        border-radius: 12px;
        cursor: pointer;
        -webkit-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
        .slideshow-container .ui ul.indicators li.active {
          background-color: rgba(86, 86, 86, 0.6); }
  .slideshow-container .data-slideshow {
    display: none; }
  .slideshow-container .filler {
    opacity: 0; }

/* General
-------------------------*/
html, body {
  height: 100%; }

/* Content
-------------------------*/
section {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  section .menu {
    grid-column: span 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh; }
    section .menu ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      section .menu ul li.color {
        padding: 0;
        width: 45px;
        border-radius: 50px;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        position: relative; }
        section .menu ul li.color span {
          content: "";
          position: absolute;
          width: 29px;
          height: 29px;
          top: 8px;
          left: 8px;
          background-color: white;
          border-radius: 50px; }
        section .menu ul li.color.white span {
          background-color: white; }
        section .menu ul li.color.gold span {
          background-color: gold; }
        section .menu ul li.color.black span {
          background-color: black; }
      section .menu ul li {
        margin: 15px 0;
        padding: 10px 20px;
        background-color: #4d4d4d;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
        height: 45px;
        -webkit-transition: 0.25s ease all;
        -o-transition: 0.25s ease all;
        transition: 0.25s ease all; }
        section .menu ul li.hidden {
          opacity: 0;
          visibility: hidden;
          height: 0px;
          padding: 0 20px;
          margin: 0;
          border-radius: 0px; }
        section .menu ul li:hover {
          background-color: #262626; }
        section .menu ul li.part-of-input {
          margin-bottom: 0px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px; }
        section .menu ul li.delete {
          margin-top: 15px;
          background-color: #990000; }
          section .menu ul li.delete:hover {
            background-color: #262626; }
      section .menu ul input#text {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-transition: 0.25s ease all;
        -o-transition: 0.25s ease all;
        transition: 0.25s ease all; }
        section .menu ul input#text.hidden {
          opacity: 0;
          visibility: hidden;
          height: 0px;
          padding: 0 20px;
          margin: 0;
          border-radius: 0px; }
      section .menu ul input#color {
        padding: 0 2px; }
  section .editor {
    position: relative;
    height: 100%;
    grid-column: span 8;
    background-color: #e6e6e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    section .editor #canvas {
      width: 500px;
      height: 500px;
      background-color: #cccccc;
      background-image: url("assets/images/canvas_bg.png");
      background-position: center;
      background-size: cover; }
      section .editor #canvas svg {
        width: 100%;
        height: 100%; }
    section .editor:after {
      content: ""; }
  section .exported {
    height: 100vh;
    background-color: #bfbfbf;
    grid-column: span 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    section .exported .context #frame {
      width: 75vh;
      height: 75vh;
      background-color: #b3b3b3; }
      section .exported .context #frame svg {
        width: 100%;
        height: 100%; }
    section .exported .context ul.buttons {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center; }
      section .exported .context ul.buttons li {
        display: inline-block;
        background-color: gray;
        margin: 20px 10px;
        padding: 10px 20px;
        cursor: pointer;
        -webkit-transition: 0.25s ease all;
        -o-transition: 0.25s ease all;
        transition: 0.25s ease all; }
        section .exported .context ul.buttons li:hover {
          background-color: #737373; }

/* SVG Downloader */
#preview-holder {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }
  #preview-holder #preview {
    width: 50vh;
    height: 50vh;
    border: 1px solid #d9d9d9;
    background-color: white; }
    #preview-holder #preview svg {
      width: 100%;
      height: 100%; }
  #preview-holder #export {
    width: 500px;
    height: 500px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: 0; }

/* Footer
-------------------------*/
/* Media Queries
-------------------------*/
@media screen and (min-width: 1026px) {
  .phablet {
    display: none !important; } }

@media screen and (min-width: 642px) {
  .mobile-only {
    display: none !important; } }

@media screen and (max-width: 1025px) {
  .desktop-only {
    display: none !important; }
  .row.semi-full {
    padding: 0 5%; } }

@media screen and (max-width: 641px) {
  .tablet-up {
    display: none !important; } }
